<a href="https://colab.research.google.com/github/Berni-root/POO-Python-InterFESAragon/blob/main/Sesion01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prepocesamiento de Datos con Python
## FES Aragón
### ICO
### BERNABÉ HERNÁNDEZ CISNEROS

In [70]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
#Series
s = pd.Series({'a': 10, 'b': 20, 'c': 30})
print(type(s))
s

In [ ]:
s1 = pd.Series([10,20,30,40])
s1

In [ ]:
s.index

In [ ]:
s1.index

In [8]:
s1.max()

40

In [9]:
s1.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [11]:
# Generamos una serie de numeros aleatorios
s2 = pd.Series(np.random.randn(5))
s2

0    1.291590
1   -1.782437
2   -0.169041
3   -0.287387
4    0.200460
dtype: float64

In [13]:
s3 = pd.Series([[10, 20],\
                [30, 40.5,'series'],\
                [50, 55],\
                {'Name':'Tess','Org':'Packt'}])
s3

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

In [ ]:
print(s3[1])
s3[1][1]

s3.describe()

In [18]:
s3[1][1]

40.5

In [19]:
s3.shape

(4,)

In [ ]:
#DataFrame
df = pd.DataFrame([30,50,20])

df1 = pd.DataFrame(data=[(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)])

df1 = pd.DataFrame(data=[(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)], \
                columns=['V1','V2','V3'], \
                index=['R1','R2','R3','R4'])

In [21]:
#DataFrame
df = pd.DataFrame([30,50,20])
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(3, 1)

In [22]:
df

    0
0  30
1  50
2  20

In [23]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [24]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [25]:
list(df.index)

[0, 1, 2]

In [26]:
print("Las columnas del DataFrame son: ",list(df.columns))
print("Los índices de renglones del DataFrame son: ",list(df.index))

Las columnas del DataFrame son:  [0]
Los índices de renglones del DataFrame son:  [0, 1, 2]

In [27]:
df.columns = ["C1"]
df.index = ["R1","R2","R3"]
df

    C1
R1  30
R2  50
R3  20

In [30]:
df["C1"]

R1    30
R2    50
R3    20
Name: C1, dtype: int64

In [31]:
l = [(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)]
df1 = pd.DataFrame(data=l)
print(df.shape)
df1

(3, 1)

   0  1  2
0  0  1  2
1  1  2  3
2  4  5  6
3  7  8  9

In [32]:
l1 = [(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9,10)]
df2 = pd.DataFrame(data=l1)
df2

   0  1  2     3
0  0  1  2   NaN
1  1  2  3   NaN
2  4  5  6   NaN
3  7  8  9  10.0

In [34]:
l = [(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)]
df1 = pd.DataFrame(data=l,
                   columns=["C1","C2","C3"],
                   index=["R1","R2","R3","R4"])
df1

    C1  C2  C3
R1   0   1   2
R2   1   2   3
R3   4   5   6
R4   7   8   9

In [35]:
df1.describe()

             C1        C2        C3
count  4.000000  4.000000  4.000000
mean   3.000000  4.000000  5.000000
std    3.162278  3.162278  3.162278
min    0.000000  1.000000  2.000000
25%    0.750000  1.750000  2.750000
50%    2.500000  3.500000  4.500000
75%    4.750000  5.750000  6.750000
max    7.000000  8.000000  9.000000

In [36]:
df2.describe()

              0         1         2     3
count  4.000000  4.000000  4.000000   1.0
mean   3.000000  4.000000  5.000000  10.0
std    3.162278  3.162278  3.162278   NaN
min    0.000000  1.000000  2.000000  10.0
25%    0.750000  1.750000  2.750000  10.0
50%    2.500000  3.500000  4.500000  10.0
75%    4.750000  5.750000  6.750000  10.0
max    7.000000  8.000000  9.000000  10.0

In [ ]:
d = {'py101':[10, 5, 33 ,45, 25, 22],
                'py111':[0, 15, 21 , 30, 31, 11],
                'py121':[15, 5, 1 ,10, 42, 21],
                'py301':(20, 35, 3 ,15, 0, 0) }
meses = ('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio')
df4 = pd.DataFrame(data=d, index=meses)
df4

In [41]:
m = np.arange(9).reshape(3,3)
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [42]:
df5 = pd.DataFrame(m, index=["uno","dos","tres"], columns=["C1",2,"C3"])
df5

      C1  2  C3
uno    0  1   2
dos    3  4   5
tres   6  7   8

In [43]:
df5.columns

Index(['C1', 2, 'C3'], dtype='object')

In [44]:
d

{'py101': [10, 5, 33, 45, 25, 22],
 'py111': [0, 15, 21, 30, 31, 11],
 'py121': [15, 5, 1, 10, 42, 21],
 'py301': (20, 35, 3, 15, 0, 0)}

In [ ]:
df6 = pd.DataFrame(data=d, index=meses, columns=['mesas', 'py101', 'bancos', 'puertas'])
df6

In [48]:
df7 = pd.DataFrame(d, index=meses)
#Cambiar nombres de columnas del DF
df7.columns = ['BD', 'TEBD', 'UML', 'JAVA']
df7

         BD  TEBD  UML  JAVA
enero    10     0   15    20
febrero   5    15    5    35
marzo    33    21    1     3
abril    45    30   10    15
mayo     25    31   42     0
junio    22    11   21     0

In [49]:
#Cambiar el nombre de algunas columnas
df7.rename(columns={'UML':'SI', 'JAVA':'POO'}, inplace=True)
df7

         BD  TEBD  SI  POO
enero    10     0  15   20
febrero   5    15   5   35
marzo    33    21   1    3
abril    45    30  10   15
mayo     25    31  42    0
junio    22    11  21    0

In [ ]:
#Cambiar todos los indices del DF
df7.index = ['ene', 'feb', 'mar', 'abr', 'may', 'jun']
df7

In [50]:
#Cambiar el nombre de algunos indices del DF
df7.rename(index={'febrero':'feb', 'mayo':'may'}, inplace=True)
df7

       BD  TEBD  SI  POO
enero  10     0  15   20
feb     5    15   5   35
marzo  33    21   1    3
abril  45    30  10   15
may    25    31  42    0
junio  22    11  21    0

In [51]:
#Cambiar el nombre de algunos indices y columnas del DF
df7.rename(index={'feb':'febrero', 'may':'mayo'},
           columns={'SI':'PROG1'}, inplace=True)
df7

         BD  TEBD  PROG1  POO
enero    10     0     15   20
febrero   5    15      5   35
marzo    33    21      1    3
abril    45    30     10   15
mayo     25    31     42    0
junio    22    11     21    0

In [52]:
df7.describe()

              BD       TEBD      PROG1        POO
count   6.000000   6.000000   6.000000   6.000000
mean   23.333333  18.000000  15.666667  12.166667
std    14.706008  11.865918  14.719601  13.934370
min     5.000000   0.000000   1.000000   0.000000
25%    13.000000  12.000000   6.250000   0.750000
50%    23.500000  18.000000  12.500000   9.000000
75%    31.000000  27.750000  19.500000  18.750000
max    45.000000  31.000000  42.000000  35.000000

In [54]:
#Visualizar una columna del DF
df7['POO']
print(type(df7['POO']))

<class 'pandas.core.series.Series'>

In [55]:
df7['POO'].describe()

count     6.000000
mean     12.166667
std      13.934370
min       0.000000
25%       0.750000
50%       9.000000
75%      18.750000
max      35.000000
Name: POO, dtype: float64

In [56]:
sPOO = df7['POO']
sPOO

enero      20
febrero    35
marzo       3
abril      15
mayo        0
junio       0
Name: POO, dtype: int64

In [59]:
print(type(df7[['POO','BD']]))
df7[['POO','BD']]

<class 'pandas.core.frame.DataFrame'>

         POO  BD
enero     20  10
febrero   35   5
marzo      3  33
abril     15  45
mayo       0  25
junio      0  22

In [60]:
dfPOODB = df7[['POO','BD']]
dfPOODB

         POO  BD
enero     20  10
febrero   35   5
marzo      3  33
abril     15  45
mayo       0  25
junio      0  22

In [61]:
#Visualizar un rango de indices (renglones)
df7['marzo':'mayo']

       BD  TEBD  PROG1  POO
marzo  33    21      1    3
abril  45    30     10   15
mayo   25    31     42    0

In [63]:
df7['marzo':'mayo'][['POO','BD']]

       POO  BD
marzo    3  33
abril   15  45
mayo     0  25

In [64]:
df7[:3]

         BD  TEBD  PROG1  POO
enero    10     0     15   20
febrero   5    15      5   35
marzo    33    21      1    3

In [65]:
df7[1:4]

         BD  TEBD  PROG1  POO
febrero   5    15      5   35
marzo    33    21      1    3
abril    45    30     10   15

In [67]:
df7[:]

         BD  TEBD  PROG1  POO
enero    10     0     15   20
febrero   5    15      5   35
marzo    33    21      1    3
abril    45    30     10   15
mayo     25    31     42    0
junio    22    11     21    0

In [68]:
df7[::2]

       BD  TEBD  PROG1  POO
enero  10     0     15   20
marzo  33    21      1    3
mayo   25    31     42    0

In [69]:
df7['BD'][::2]

enero    10
marzo    33
mayo     25
Name: BD, dtype: int64

In [71]:
df = pd.DataFrame({'nombres':('Juan Pérez',
                                 'María Sánchez'
                                 , 'Jorge Vargas',
                                 'Rodrigo Martínez'),
            'fechas':(datetime(1995,12,21),
                      datetime(1989,1,13),
                      datetime(1992,9,14),
                      datetime(1993,7,8)),
            'saldo': (2500,
                      5345,
                      np.NaN,
                      11323.2),
            'al_corriente':(True,
                            True,
                            False,
                            True)})
df

            nombres     fechas    saldo  al_corriente
0        Juan Pérez 1995-12-21   2500.0          True
1     María Sánchez 1989-01-13   5345.0          True
2      Jorge Vargas 1992-09-14      NaN         False
3  Rodrigo Martínez 1993-07-08  11323.2          True

In [73]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
dtype: object

In [74]:
df.describe()

             saldo
count      3.00000
mean    6389.40000
std     4503.36464
min     2500.00000
25%     3922.50000
50%     5345.00000
75%     8334.10000
max    11323.20000

In [75]:
df['saldo'].describe()

count        3.00000
mean      6389.40000
std       4503.36464
min       2500.00000
25%       3922.50000
50%       5345.00000
75%       8334.10000
max      11323.20000
Name: saldo, dtype: float64

In [76]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
dtype: object

In [77]:
df.astype(str).dtypes

nombres         object
fechas          object
saldo           object
al_corriente    object
dtype: object

In [81]:
df['saldo'].astype(str)

0     2500.0
1     5345.0
2        nan
3    11323.2
Name: saldo, dtype: object

In [79]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
dtype: object

In [83]:
df['fechas'].astype('int64')

0    819504000000000000
1    600652800000000000
2    716428800000000000
3    742089600000000000
Name: fechas, dtype: int64

In [85]:
df['saldo']*1.16

0     2900.000
1     6200.200
2          NaN
3    13134.912
Name: saldo, dtype: float64

In [87]:
df['saldo_iva'] = df['saldo']*1.16
df

            nombres     fechas    saldo  al_corriente  saldo_iva
0        Juan Pérez 1995-12-21   2500.0          True   2900.000
1     María Sánchez 1989-01-13   5345.0          True   6200.200
2      Jorge Vargas 1992-09-14      NaN         False        NaN
3  Rodrigo Martínez 1993-07-08  11323.2          True  13134.912

In [91]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
saldo_iva               object
dtype: object

In [90]:
df['saldo_iva'] = df['saldo'].astype(str)

In [92]:
df['saldo_iva']*12

0    2500.02500.02500.02500.02500.02500.02500.02500...
1    5345.05345.05345.05345.05345.05345.05345.05345...
2                 nannannannannannannannannannannannan
3    11323.211323.211323.211323.211323.211323.21132...
Name: saldo_iva, dtype: object

In [95]:
df['saldo']*12

0     30000.0
1     64140.0
2         NaN
3    135878.4
Name: saldo, dtype: float64